<div class="burger-button" id="burger-button">
    <img src="./img/icon-burger-gray.svg" alt="">
</div>
<div class="close-burger-button" id="close-burger-button">
    <img src="./img/icon-close-gray.svg" alt="">
</div>