<div class="catalog">
    <div class="catalog__header">
        <div class="catalog__title">
            Каталог товаров
        </div>
        <div class="catalog-sort">
            <label class="catalog__label">Сортировать:</label>
            <div class="catalog-sort__select">
                <select class="select2" name="catalog-sort">
                    <option value="1">По популярности</option>
                    <option value="2">По цене</option>
                </select>
            </div>
        </div>
    </div>
    <%- include('../main-menu-grid/main-menu-grid',{banner: false}); %>

    <div class="catalog__content">
        <div class="catalog-filter-box">
            <div class="hide-filter-btn no-select" id="hide-filter-btn">
                <div class="hide-filter-btn__text_show">
                    Показать фильтр
                </div>
                <div class="hide-filter-btn__text_hide">
                    Свернуть фильтр
                </div>
                <div class="hide-filter-btn__icon">
                    <img src="./img/icon-hide-filter-black.svg" alt="">
                </div>
            </div>
            <div class="catalog-filter" id="catalog-filter">
                <div class="catalog-filter__block">
                    <div class="catalog-filter__title">
                        Цена:
                    </div>
                    <div class="catalog-filter__input-box">
                        <div class="catalog-filter__input">
                            <label> от</label>
                            <input type="number" class="input-no-arrows">
                        </div>
                        <div class="catalog-filter__input">
                            <label>до</label>
                            <input type="number" class="input-no-arrows">
                        </div>
                    </div>

                </div>                
                <div class="catalog-filter__block">
                    <div class="catalog-filter__title">
                        кКал
                    </div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Вариант 1
                        </div>
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Вариант 2
                        </div>
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Вариант 3
                        </div>
                    </label>
                </div>
                <div class="catalog-filter__block">
                    <div class="catalog-filter__title">
                        Услвоия хранения
                    </div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Условие 1
                        </div>
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Условие 2
                        </div>
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Условие 3
                        </div>
                    </label>
                </div>
                <div class="catalog-filter__block">
                    <div class="catalog-filter__title">
                        Бренд
                    </div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Бренд 1
                        </div>
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Бренд 2
                        </div>
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Бренд 3
                        </div>
                    </label>
                </div>
                <div class="catalog-filter__block">
                    <div class="catalog-filter__title">
                        Страна производитель
                    </div>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Страна 1
                        </div>
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Страна 2
                        </div>
                    </label>
                    <label class="custom-checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        <div class="custom-checkbox__label">
                            Страна 3
                        </div>
                    </label>
                </div>
                <div class="catalog-filter-footer">                    
                    <button class="btn">
                        Применить фильтр
                    </button>
                    <div class="catalog-filter-footer__text">
                        Найдено: 145 товаров
                    </div>
                </div>
            </div>
        </div>
        <%- include('../productsGrid/productsGrid', {
            title: "",
            cssClass: "new-products",
            arrayItems: "newProducts",
            maxCount: 8
        }); %>

    </div>
    <div class="catalog-paginate">
        <div class="catalog-paginate__control">
            <img src="./img/icon-prev-page-gray.svg" alt="">
        </div>
        <div class="catalog-paginate__page">
            ...
        </div>
        <div class="catalog-paginate__page">
            2
        </div>
        <div class="catalog-paginate__page">
            3
        </div>
        <div class="catalog-paginate__page">
            4
        </div>
        <div class="catalog-paginate__page catalog-paginate__page_active">
            5
        </div>
        <div class="catalog-paginate__page">
            ...
        </div>
        <div class="catalog-paginate__control">
            <img src="./img/icon-next-page-gray.svg" alt="">
        </div>
    </div>
</div>