<div class="main-menu">
    <div id="main-menu-button" class="main-menu__button no-select">
        <div class="main-menu__text">
            Каталог товаров
        </div>
        <div class="main-menu__burger">
            <img src="./img/main-menu-burger-icon.svg" alt="">
        </div>
    </div>
    <div id="main-menu-list" class="main-menu__list no-select">
        <% mainMenu.forEach(function(el, i){ %>
        <div class="main-menu-el-box">
            <a class="main-menu-el" href="./">
                <div class="main-menu-el__icon">
                    <img src="./img/main-menu-icon-<%=i+1%>.svg" alt="">
                </div>
                <div class="main-menu-el__text">
                    <%=el.text%>
                </div>
                <% if (el.subMenu) { %>
                <div class="main-menu-plus main-menu-plus_close">
                    <img class="btn-plus" src="./img/icon-menu-plus-white.svg" alt="">
                    <img class="btn-minus" src="./img/icon-menu-minus-white.svg" alt="">
                </div>
                <% } %>
                <% if (el.subMenu) { %>
                <div class="main-menu-el__arrow">
                    <img class="btn-plus" src="./img/icon_main-menu-arrow_black.svg" alt="">
                </div>
                <% } %>
            </a>
            <% if (el.subMenu) { %>
            <div class="main-menu-sub-menu__box">
                <div class="main-menu-sub-menu grid">
                    <% el.subMenu.forEach(function(subEl, i){ %>
                    <div class="main-menu-sub-menu__section grid-item">
                        <a class="main-menu-sub-menu-el" href="./">
                            <div class="main-menu-sub-menu-el__text">
                                <%=subEl.text%>
                            </div>
                            <% if (subEl.subMenu2) { %>
                            <div class="main-menu-plus main-menu-plus_close">
                                <img class="btn-plus" src="./img/icon-menu-plus-white.svg" alt="">
                                <img class="btn-minus" src="./img/icon-menu-minus-white.svg" alt="">
                            </div>
                            <% } %>
                        </a>
                        <% if (subEl.subMenu2) { %>
                        <div class="main-menu-sub-menu2">
                            <% subEl.subMenu2.forEach(function(subEl2, i){ %>
                            <a class="main-menu-sub-menu2__el" href="./">
                                <%=subEl2.text%>
                            </a>
                            <% }); %>
                        </div>
                        <% } %>
                    </div>
                    <% }); %>
                </div>
            </div>
            <% } %>
        </div>
        <% }); %>
    </div>
</div>