<div class="main-menu">
    <div id="main-menu-button" class="main-menu__button no-select">
        <div class="main-menu__text">
            Каталог товаров
        </div>
        <div class="main-menu__burger">
            <img src="./img/main-menu-burger-icon.svg" alt="">
        </div>
    </div>
    <div id="main-menu-list" class="main-menu__list no-select">
        <div class="main-menu-el-box">
            <a class="main-menu-el" href="./">
                <div class="main-menu-el__icon">
                    <img src="./img/main-menu-icon-1.svg" alt="">
                </div>
                <div class="main-menu-el__text">
                    Чай и Кофе
                </div>
                <div class="main-menu-el__btn main-menu-el__btn_close">
                    <img class="btn-plus" src="./img/icon-menu-plus-white.svg" alt="">
                    <img class="btn-minus" src="./img/icon-menu-minus-white.svg" alt="">
                </div>
            </a>
            <div class="main-menu-sub-menu">
                <div class="main-menu-sub-menu__title main-menu-sub-menu__el">
                    Чай и Кофе
                </div>
                <a class="main-menu-sub-menu__el" href="./">
                    Кондитерская
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Выпечка, хлебные изделия
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Сухофрукты
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Чипсы, семечки, сухари, орехи
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Для диабетиков
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Детское питание
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Бакалея
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Японская кухня
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Овощи фрукты
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Молочная продукция
                </a>
                <a class="main-menu-sub-menu__el" href="./">
                    Мясная гастрономия
                </a>
            </div>
        </div>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-2.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Кондитерская
            </div>
        </a>
        <div class="main-menu-sub-menu">
            <div class="main-menu-sub-menu__title main-menu-sub-menu__el">
                Кондитерская
            </div>
            <a class="main-menu-sub-menu__el" href="./">
                Выпечка, хлебные изделия
            </a>
            <a class="main-menu-sub-menu__el" href="./">
                Сухофрукты
            </a>
            <a class="main-menu-sub-menu__el" href="./">
                Чипсы, семечки, сухари, орехи
            </a>
            <a class="main-menu-sub-menu__el" href="./">
                Для диабетиков
            </a>
            <a class="main-menu-sub-menu__el" href="./">
                Детское питание
            </a>
            <a class="main-menu-sub-menu__el" href="./">
                Бакалея
            </a>
            <a class="main-menu-sub-menu__el" href="./">
                Японская кухня
            </a>
        </div>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-3.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Выпечка, хлебные изделия
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-4.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Сухофрукты
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-5.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Чипсы, семечки, сухари, орехи
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-6.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Для диабетиков
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-7.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Детское питание
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-8.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Бакалея
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-9.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Японская кухня
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-10.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Овощи фрукты
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-11.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Молочная продукция
            </div>
        </a>
        <a class="main-menu-el" href="./">
            <div class="main-menu-el__icon">
                <img src="./img/main-menu-icon-12.svg" alt="">
            </div>
            <div class="main-menu-el__text">
                Мясная гастрономия
            </div>
        </a>
    </div>
</div>