@import '../../vars.scss';

.main-menu{
    position: relative;
    &_full-screen{
        margin: 0 -#{$mobilePadding}; 
        .main-menu__button{            
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 0;
        }
    }
    &__button{
        background: #B2DB11;
        display: flex;
        justify-content: space-between;
        padding: 13px;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 2;  
        border-radius: 4px 4px 0 0;        
    }
    &__text{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
    }
    &__burger{
        img{
            display: block;
            width: 16px;
            height: 16px;
        }
    }
    &__list{
        display: none;
        position: absolute;
        z-index: 1;
        top: 45px;
        left: 0;
        width: 100%;
        background: #FFFFFF;             
    }
    &-el{
        padding: 0 $mobilePadding;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        background: #88A711; 
        height: 45px;  
        &-box{
            border-top: 1px solid #a0b841;
            &:first-child{
                border-top: 0;
            }                    
        }
        &__icon{
            img{
                display: block;
                width: 24px;
                height: 24px;
                filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(90deg) brightness(103%) contrast(103%);
            }
        }
        &__text{              
            color: #FFFFFF;
            margin-left: 10px;
            white-space: nowrap;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
        }   
        &__arrow{
            display: none;
        }
    }   
    &-sub-menu{
        &__section{
            border-bottom: 1px solid #b5d244;
            &:last-child{
                border: 0;
            }
        }
        &-el{
            display: flex;
            justify-content: space-between;
            height: 40px;
            background: #89ab02;
            padding-left: #{$mobilePadding * 3};            
            &__text{
                font-size: 14px;
                line-height: 40px;
                color: #FFFFFF;
                white-space: nowrap; 
                text-overflow: ellipsis;
                overflow: hidden;
            }            
            .main-menu-plus{
                margin-right: 0;
                background: #A3C715;
            }
        }
        .main-menu-plus{
            background: #97B913;
            &_close{
                background: #89ab02; 
            }
        } 
        &__box{
        display: none;
        }
    }
    &-sub-menu2{
        display: none;
        &-el{            
            text-decoration: none;              
            height: 40px;
            background: #82a202;
            display: block;
            padding-left: #{$mobilePadding * 5};
            padding-right: $mobilePadding;
            border-bottom: 1px solid rgba(255, 255, 255, .3);
            &:hover{
                color: #FFFFFF;
            }
            &:last-child{
                border: 0;
            }
            &__text{
                white-space: nowrap;  
                font-size: 14px;
                line-height: 40px;
                color: #FFFFFF;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
    &-plus{
        margin-left: auto;
        background: #97B913;
        height: 100%;
        padding: 0 $mobilePadding;
        margin-right: -#{$mobilePadding};
        display: flex;
        align-items: center;
        img{
            display: block;
        }
        .btn-plus{
            display: none;
        }
        .btn-minus{
            display: block;
        }
        &_close{
            background: #88A711; 
            .btn-plus{
                display: block;
            }
            .btn-minus{
                display: none;
            }
        }
    }    
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .main-menu{
        width: 275px;
        flex-shrink: 0;
        margin: 0;
        &_full-screen{
            .main-menu__button{            
                box-shadow: unset;
                border-radius: 4px;
            }
        }
        &__text{
        }
        &__button{
            box-shadow: unset;
            border-radius: 4px;
        }
        &__burger{
            img{          
            }
        }
        &__list{
            top: 59px;
            display: block;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 0px 0px 4px 4px;
            padding: 13px 0;            
        }
        &-el{
            background-color: #fff;
            padding: 0 8px 0 20px;
            height: 32px;
            position: relative;            
            &:hover{
                background: rgba(178, 219, 17, .4);
                &+.main-menu-sub-menu__box{
                    display: block;
                }
                .main-menu-el__text{
                    font-weight: 600;
                }
            }
            &-box{
                border: 0;
            }
            &__icon{
                width: 16px;
                img{
                    filter: unset;
                    width: 16px;
                    height: 16px;
                }
            }
            &__text{
                font-size: 14px;
                line-height: 18px;
                font-weight: normal;
                color: rgba(0, 0, 0, 0.8);
                max-width: 100%;
                width: 100%;
                margin-right: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
            }            
            &__arrow{
                right: 8px;
                display: flex;
                align-items: center;
                margin-left: auto;
                width: 7px;
                img{
                    display: block;
                }
            }
        }
        &-sub-menu{
            display: inline-flex;
            flex-wrap: wrap;
            padding: 13px 0;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 0px 5px 5px 0px;  
            overflow-y: auto; 
            max-height: 412px;
            max-width: 460px;  
            &__box{
                display: none;
                position: absolute;
                top: -1px;
                left: 273px;
                width: 1000px;
                &:hover{
                    display: block;
                }
            }
            &-el{                              
                padding: 0 15px 0 20px;           
                height: 32px;                
                background-color: #fff;
                &__text{
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 16px; 
                    color: rgba(0,0,0, .8);  
                    line-height: 32px;                    
                }
                &:hover{                
                    background-color: rgba(193,193,193, .3);  
                    color: #000000;
                    font-weight: 500;              
                }
            }
            &__section{
                width: 50%;                  
                border: 0;  
                min-width: 220px;               
            } 
        }
        &-sub-menu2{
            display: block;            
            &-el{ 
                background: #FFFFFF;
                padding: 0 15px 0 20px;
                height: 32px;
                display: flex;                
                &:hover{
                    color: rgba(0, 0, 0, 0.8);
                    background-color: rgba(193,193,193, .3);
                }
                &__text{                  
                    font-size: 14px;
                    line-height: 32px;
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
        &-plus{
            display: none;
        }
    }
}
@media (min-width: 992px) {
    .main-menu{
        &-sub-menu{
            max-width: 530px;  
            &__section{
                min-width: 255px;   
            } 
        }
    }
}
@media (min-width: 1200px) {
    .main-menu{
        &-sub-menu{
            max-width: 800px;
            &__section{
                width: 33%;                  
                border: 0;                
            } 
        }
    }
}