<form class="search-form <%=cssClass%>">
    <div class="search-form__input">
        <input type="text" placeholder="Поиск по каталогу">
        <button type="submit" class="search-form__btn">
            <img src="./img/header-search-logo.svg" alt="">
        </button>
    </div>
    <div class="search-form__toggle">
        <img src="./img/icon-search-green.svg" alt="">
    </div>
</form>