<div class="container">
    <div class="products-grid <%=cssClass%>">
        <h2 class="products-grid__title"><%=title%></h2>
        <div class="products-grid__list">
            <% newProducts.forEach(function(product, i){ %>
            <%- include('../../els/product/product', {
                name: product.name,
                price: product.price,
                oldPrice: product.oldPrice,
                img: product.img,
                inStock: product.inStock,
            }); %>
            <% }); %>
        </div>
    </div>
</div>