<div class="products-grid <%=cssClass%>">
    <% if (title.length) { %>
    <h2 class="products-grid__title"><%=title%></h2>
    <% } %>
    <div class="products-grid__list">
        <% products[arrayItems].forEach(function(product, i){ %>
        <% if (maxCount > i) { %>
        <%- include('../../els/product/product', {
                        name: product.name,
                        price: product.price,
                        oldPrice: product.oldPrice,
                        img: product.img,
                        inStock: product.inStock,
                        weight: product.weight,
                        mark: product.mark,
                        markText: product.markText,
                    }); %>
        <% } %>
        <% }); %>
    </div>
</div>