.products-grid{
    &__title{
        margin-bottom: 15px;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .products-grid{
        &__list{
            margin: 0 -10px -15px;
        }
    }
}
@media (min-width: 1200px) {

}