.cart-sticky{
    &-box{
        display: none;
    }
}

@media (min-width: 768px) {
    .cart-sticky{
        &-box{
            position: sticky;
            z-index: 100;
            top: 0;
            right: 0;
            flex-direction: row-reverse;
        }
        // display: none;
        align-items: center;
        text-decoration: none;
        display: flex;
        height: 48px;
        padding: 0 13px;
        background: #B2DB11;
        &__logo{
            display: inline-block;
            img{
                display: block;
            }
        }
        &__count{
            background: #FFFFFF;
            min-width: 20px;
            height: 20px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            font-size: 12px;
            padding: 0 6px;
            line-height: 15px;
            color: #7F8285;
        }
        &__text{
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }
    }
}