<div id="cart-sticky" class="cart-sticky-box">
    <a href="./" class="cart-sticky">
        <div class="cart-sticky__logo">
            <img src="./img/icon-cart-white.svg" alt="">
        </div>
        <div class="cart-sticky__count">
            32
        </div>
        <div class="cart-sticky__text">
            3332 ла
        </div>
    </a>
</div>