<div class="container">
    <div class="cat-menu">
        <div class="cat-menu__list">
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-1.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Чай и Кофе
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-2.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Кондитерская
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-3.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Выпечка, хлебные изделия
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-4.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Сухофрукты
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-5.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Чипсы, семечки, сухари, орехи
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-6.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Для диабетиков
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-7.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Детское питание
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-8.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Бакалея
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-9.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Японская кухня
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-10.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Овощи-фрукты
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-11.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Молочная продукция
                </div>
            </div>
            <div class="cat-menu__list-el">
                <div class="cat-menu__list-el-img">
                    <img src="./img/cat-menu-el-12.svg" alt="">
                </div>
                <div class="cat-menu__list-el-text">
                    Мясная гастрономия
                </div>
            </div>
        </div>
        <button class="btn">
            Показть все
        </button>
    </div>
</div>