.cat-menu {
    display: none;
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .cat-menu {
        display: block;
        padding: 0 0 30px;
        border-bottom: 1px solid #EEEEEE;
        &__list{
            flex-wrap: wrap;
            display: flex;
            margin: 0 -10px;
            &-el{
                width: 16.666%;
                padding: 0 10px;
                margin-bottom: 37px;
                cursor: pointer;
                &-img{
                    border: 1px solid #EEEEEE;
                    margin-bottom: 10px;
                    padding: 18px 0;
                    img{
                        margin: 0 auto;
                        display: block;
                    }
                }
                &-text{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    text-align: center;
                }
            }
        }
        .btn{
            margin: -17px auto 0;
        }
    }
}
@media (min-width: 1200px) {

}

