<div class="cart-counter">
    <div class="cart-counter__minus cart-counter__control no-select">-</div>
    <div class="cart-counter__input">
        <input min="0" type="number" class="input-no-arrows" value="1">
    </div>
    <div class="cart-counter__plus cart-counter__control no-select">+</div>
    <div class="input-buffer"></div>
</div>