.catalog-page{
    .main-menu-grid{
        margin-top: 10px;
    }
    .main-menu__list{
        display: none;
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .catalog-page{

        .main-menu-grid{
            margin-top: 15px;
        }
        .breadcrumbs{
            border-bottom: 0;
        }
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}