.main-page{
    .main-menu-grid{
        margin-top: 10px;
    }
    .cat-menu{
        margin-top: 10px;
    }
    .help-info{
        margin-top: 35px;    
    }
    .products-grid{
    }
    .new-products{
        margin-top: 20px;
    }
    .interesting-products{
        margin-top: 35px;
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .main-page{
        .cat-menu{
            margin-top: 13px;
        }
        .products-grid{
            margin-top: 15px;
        }
        .new-products{
            margin-bottom: 35px;
        }
        .interesting-products{
            margin-top: 15px;
        }
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}