.product-detail-page{
     .main-menu-grid{
         margin-top: 10px;
     }
    .main-menu__list{
        display: none;
    }
    .product-about{
        margin-top: 20px;
    }
    .product-reviews{
        margin: 10px 0;
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {
    .product-detail-page{
        .product-reviews{
            margin: 15px 0;
        }
        .interesting-products{
            margin-bottom: 15px;
        }
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}