<div class="breadcrumbs">
    <div class="breadcrumbs__list">
        <div class="breadcrumbs__el">
            <a href="./" class="breadcrumbs__el-link">
                Главная страница
            </a>
        </div>
        <div class="breadcrumbs__el">
            <a href="./" class="breadcrumbs__el-link">
                Каталог товаров
            </a>
        </div>
        <div class="breadcrumbs__el">
            <a href="./" class="breadcrumbs__el-link">
                Товарная категория
            </a>
        </div>
        <div class="breadcrumbs__el">
            <a href="./" class="breadcrumbs__el-link">
                Страниц товара
            </a>
        </div>
    </div>
</div>