<div class="product-detail">
    <div class="product-main-info">
        <div class="product-main-info__title mobile">
            Овощи зам ВИТАМИН карибская смесь
        </div>
        <div class="product-main-info__weight mobile">
            400гр
        </div>
        <div class="product-main-info__pic">
            <img src="./img/product-detail-pic-1.png" alt="">
        </div>
        <div class="product-main-info__right">
            <div class="product-main-info__right-box">
                <div class="product-main-info__title desctop">
                    Овощи зам ВИТАМИН карибская смесь
                </div>
                <div class="product-main-info__weight desctop">
                    400гр
                </div>
                <div class="product-main-info__price">
                    109 Р
                </div>
                <div class="rating-box">
                    <div class="rating-box__stars">
                        <img src="./img/product-rating-star.svg" alt="">
                        <img src="./img/product-rating-star.svg" alt="">
                        <img src="./img/product-rating-star.svg" alt="">
                        <img src="./img/product-rating-star.svg" alt="">
                        <img src="./img/product-rating-star.svg" alt="">
                    </div>
                    <a href="./" class="rating-box__count">
                        2
                    </a>
                    <a href="./" class="rating-box__icon heart">
                        <img src="./img/header-heart-logo.svg" alt="">
                    </a>
                    <a href="./" class="rating-box__icon">
                        <img src="./img/header-connection-logo.svg" alt="">
                    </a>
                </div>
                <button href="./" class="btn">
                    Добавить в корзину
                </button>
                <div class="product-main-info__desc">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                </div>
            </div>
        </div>
    </div>
    <div class="product-about">
        <div class="product-about__title">
            О товаре
        </div>
        <div class="product-about__title_mini">
            Описание
        </div>
        <div class="product-about__desc">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        </div>
        <div class="product-about__title_mini">
            Информация
        </div>
        <div class="product-about__table no-scroll-bar">
            <table>
                <tbody>
                    <tr>
                        <td class="product-about__table-td_title">Категория:</td>
                        <td class="product-about__table-td_text">Заморозка</td>
                    </tr>
                    <tr>
                        <td class="product-about__table-td_title">Бренд:</td>
                        <td class="product-about__table-td_text">Добро </td>
                    </tr>
                    <tr>
                        <td class="product-about__table-td_title">Страна производитель:</td>
                        <td class="product-about__table-td_text">Россия</td>
                    </tr>
                    <tr>
                        <td class="product-about__table-td_title">Условия хранения:</td>
                        <td class="product-about__table-td_text">Хранить при температуре не менее - 3г</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="product-about__title_mini">
            Пищевая ценность
        </div>
        <div class="product-about__data">
            <div class="product-about__data-el">
                <div class="product-about__data-el-box">
                    <div class="product-about__data-el-title">
                        18.8 г
                    </div>
                    <div class="product-about__data-el-text">
                        Углеводы
                    </div>
                </div>
            </div>
            <div class="product-about__data-el">
                <div class="product-about__data-el-box">
                    <div class="product-about__data-el-title">
                        0.2 г
                    </div>
                    <div class="product-about__data-el-text">
                        Белки
                    </div>
                </div>
            </div>
            <div class="product-about__data-el">
                <div class="product-about__data-el-box">
                    <div class="product-about__data-el-title">
                        1.2 г
                    </div>
                    <div class="product-about__data-el-text">
                        Жиры
                    </div>
                </div>
            </div>
            <div class="product-about__data-el">
                <div class="product-about__data-el-box">
                    <div class="product-about__data-el-title">
                        81
                    </div>
                    <div class="product-about__data-el-text">
                        кКал
                    </div>
                </div>
            </div>
        </div>
        <div class="product-about__desc">
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        </div>
    </div>
    <div class="product-reviews">
        <div class="product-reviews__title">Отзывы</div>
        <div class="product-reviews__head">
            <div class="rating-box">
                <div class="rating-box__stars">
                    <img src="./img/product-rating-star.svg" alt="">
                    <img src="./img/product-rating-star.svg" alt="">
                    <img src="./img/product-rating-star.svg" alt="">
                    <img src="./img/product-rating-star.svg" alt="">
                    <img src="./img/product-rating-star.svg" alt="">
                </div>
                <a href="./" class="rating-box__count">
                    2
                </a>
            </div>
            <div class="product-reviews__show-more">
                Показать все оценки
            </div>
            <button class="btn">
                Добавить отзыв
            </button>
        </div>
        <div class="product-reviews__list">
            <div class="product-review">
                <div class="product-review__head">
                    <div class="product-review__photo">
                        <img src="./img/product-review-photo-1.jpg" alt="">
                    </div>
                    <div class="product-review__name">
                        Александр Краснобородов
                    </div>
                    <div class="product-review__date">
                        06.02.20
                    </div>
                    <div class="rating-box">
                        <div class="rating-box__stars">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="product-review__text">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </div>
            </div>
            <div class="product-review">
                <div class="product-review__head">
                    <div class="product-review__photo">
                        <img src="./img/product-review-photo-1.jpg" alt="">
                    </div>
                    <div class="product-review__name">
                        Александр Краснобородов
                    </div>
                    <div class="product-review__date">
                        06.02.20
                    </div>
                    <div class="rating-box">
                        <div class="rating-box__stars">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="product-review__text">
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                </div>
            </div>
        </div>
    </div>
</div>