.description{
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #EEEEEE;
    &__text{
        font-weight: 300;
        font-size: 14px;
        line-height: 26px;
        color: #7B7B7B;
    }
    &__img{
        background-image: url("./img/description-img.jpg");
        height: 320px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 20px 0;
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .description{
        padding: 15px 0;
        margin-bottom: 20px;
        &__text{
            font-size: 16px;
            line-height: 30px;
            +.description__text{
                margin-top: 15px;
            }
        }
        &__img{
            margin: 15px 0;

        }
    }
}

@media (min-width: 1200px) {

}