<header class="header">
    <div class="container">
        <div class="header_desktop">
            <div class="header__menu">
                <a href="./" class="header__menu-el header__link">Как сделать заказ</a>
                <a href="./" class="header__menu-el header__link">Условия доставки</a>
                <a href="./" class="header__menu-el header__link">Политика конфеденциальности</a>
                <a href="./" class="header__menu-el header__link profile-link">Мой профиль</a>
                <a href="./" class="header__menu-el header__link">Мои заказы</a>
            </div>
            <div class="header__info">
                <a class="header__logo" href="./">
                    <img src="./img/header-logo.svg" alt="">
                </a>
                <%- include('../../els/search-form/search-form', {
                    cssClass: "header__line-el header__search-form"
                }); %>

                <a class="header__tel header__info-el" href="tel:91-11-07">
                    <div class="header__tel-logo">
                        <img src="./img/header-phone-logo.svg" alt="">
                    </div>
                    <span class="header__tel-number">
                        91-11-07
                    </span>
                </a>
                <div class="header__schedule header__info-el">
                    <div class="header__schedule-logo">
                        <img src="./img/header-clock-logo.svg" alt="">
                    </div>
                    <div class="header__schedule-text">
                        Пн-Вс 8:00—20:00
                    </div>
                </div>
                <%- include('../cart-info/cart-info', {cssClass: "header__info-el"}); %>
            </div>
        </div>
        <div class="header_mobile">

            <div class="header__line">
                <a class="header__tel header__1line-el" href="tel:91-11-07">
                    <div class="header__tel-logo">
                        <img src="./img/header-phone-logo.svg" alt="">
                    </div>
                    <span class="header__tel-number">
                        91-11-07
                    </span>
                </a>
                <div class="separator"></div>
                <div class="header__schedule header__1line-el">
                    <div class="header__schedule-logo">
                        <img src="./img/header-clock-logo.svg" alt="">
                    </div>
                    <div class="header__schedule-text">
                        Пн-Вс 8:00—20:00
                    </div>
                </div>
            </div>
            <div class="header__line">
                <a href="./" class="header__line-el header__link">Мой профиль</a>
                <a href="./" class="header__line-el header__link">Мои заказы</a>
                <%- include('../../els/search-form/search-form', {
                    cssClass: "header__line-el header__search-form"
                }); %>
                <a href="./" class="header__line-el header__link">
                    <img src="./img/header-heart-logo.svg" alt="">
                </a>
                <a href="./" class="header__line-el header__link">
                    <img class="header__line-el" src="./img/header-connection-logo.svg" alt="">
                </a>
            </div>
            <div class="header__line">
                <a class="header__logo" href="./">
                    <img src="./img/header-logo.svg" alt="">
                </a>
                <%- include('../cart-info/cart-info', {cssClass: "header__info-el"}); %>
            </div>
        </div>
    </div>
</header>