<header class="header">
    <div class="container">
        <div class="header__menu">
            <div class="header__menu-el">Как сделать заказ</div>
            <div class="header__menu-el">Условия доставки</div>
            <div class="header__menu-el">Политика конфеденциальности</div>
            <div class="header__menu-el profile-link">Мой профиль</div>
            <div class="header__menu-el">Мои заказы</div>
        </div>
        <div class="header__info">
            <div class="header__logo">
                <img src="./img//header-logo.svg" alt="">
            </div>
            <form>
                <div class="header__search-input">
                    <input type="text" placeholder="Поиск по каталогу">
                    <img src="./img/header-search-logo.svg" alt="">
                </div>
            </form>
            <div class="header__tel header__info-el">
                <div class="header__tel-logo">
                    <img src="./img/header-phone-logo.svg" alt="">
                </div>
                <span class="header__tel-number">
                    91-11-07
                </span>
            </div>
            <div class="header__schedule header__info-el">
                <div class="header__schedule-logo">
                    <img src="./img/header-clock-logo.svg" alt="">
                </div>
                <div class="header__schedule-text">
                    Пн-Вс 8:00—20:00
                </div>
            </div>
            <div class="header__cart header__info-el">
                <div class="header__cart-logo">
                    <img src="./img/header-cart-logo.svg" alt="">
                </div>
                <div class="header__cart-count">
                    0
                </div>
                <div class="header__cart-text">
                    Корзина пуста
                </div>
            </div>
        </div>
    </div>
</header>