@import "../../vars.scss";

.header {  
    &_desktop{
        display: none;
    }
    &_mobile{
        display: block;
        margin: 0 -#{$mobilePadding};
    }
    &__tel{
        display: flex;
        align-items: center;
        &-logo{
            img{
                display: block;
            }
        }
        &-number{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            margin-left: 10px;
        }
    }
    &__schedule{
        display: flex;
        align-items: center;        
        &-logo{
            display: inline-block;
            img{
                display: block;
            }
        }
        &-text{
            margin-left: 9px;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;            
            color: #7B7B7B;
        }
    }
    &__line{
        display: flex;
        justify-content: space-between;
        padding: 8px $mobilePadding;
        align-items: center;
        border-bottom: 1px solid #EEEEEE;
        &-el{            
            white-space: nowrap;
        }
        img{
            flex-shrink: 0;
            display: block;
            cursor: pointer;
        }
        &:last-child{
            justify-content: space-between;
            padding: 16px $mobilePadding;
        }
        &:nth-child(2){
            justify-content: start;
            .header__line-el{
                font-weight: 300;
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                +.header__line-el{
                    margin-left: 15px;
                    &.search-icon{
                        margin-left: auto;
                    }
                }
            }
        }
    }
    .separator{
        border-left: 1px solid #C1C1C1;
        height: 24px;
        margin: 0 auto;
    }
    &__link{
        color: #000;
        white-space: nowrap;            
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        cursor: pointer;
    }
    &__cart{
        display: flex;
        align-items: center;
        &-logo{
            display: inline-block;
            img{
                display: block;
            }
        }
        &-count{
            background-color: #B2DB11;
            min-width: 20px;
            height: 20px;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
            font-weight: normal;
            font-size: 12px;
            color: #FFFFFF;
            padding: 0 6px;
        }
        &-text{
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #7B7B7B;
        }
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    .header {  
        &_desktop{
            display: block;
        }
        &_mobile{
            display: none;
        }
        &__menu{
            display: flex;
            justify-content: space-between;
            padding: 8px 0;
            &-el{     
                +.header__menu-el{
                    margin-left: 24px;   
                } 
                &.profile-link{
                    margin-left: auto;
                }
                &:first-child{
                    opacity: 0.8;
                    font-weight: 600;
                }
            }
        }
        &__info{
            display: flex;
            padding: 15px 0;
            border-top: 1px solid #EEEEEE;
            border-bottom: 1px solid #EEEEEE;
            align-items: center;
        }
        &__search-input{
            margin-left: 50px;
            position: relative;
            input{
                height: 44px;
                background: #FFFFFF;
                border: 1px solid #C1C1C1;
                border-radius: 4px;
                color: #000;
                padding: 0 38px 0 13px;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
    
                &::placeholder{
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                    opacity: 0.3;
                }
            }
            img{
                height: 16px;
                width: 16px;
                position: absolute;
                right: 14px;
                top: calc(50% - 8px);
            }
        }
        .header__info-el{
            padding: 0 15px;
            &:last-child{
                padding-right: 0;
            }
        }
        &__tel{
            margin-left: auto;
        }
        &__schedule{
            border-right: 1px solid #C1C1C1;
            border-left: 1px solid #C1C1C1;
        }
        &__cart{

        }
    }
}
@media (min-width: 1200px) {

}

