.help-info{
    &__list{
        margin-top: 20px;
    }
    &__block{
        +.help-info__block{
            margin-top: 40px;
        }
        &-img{
            width: 100%;
            img{
                max-width: 100%;
                display: block;
            }
        }
        &-text{
            h2{
                margin: 35px 0 20px;
                text-align: left;
            }
            div{
                font-size: 14px;
                line-height: 17px;
                color: #000000;
                opacity: 0.5;
                margin: 20px 0;
            }
            .btn{
                width: 100%;
            }
        }
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .help-info{
        &__list{
            margin-top: 40px;
        }
        padding-bottom: 35px;
        border-bottom: 1px solid #EEEEEE;
        &__block{
            display: flex;
            align-items: center;
            &:nth-child(even){
                flex-direction: row-reverse;
            }
            +.help-info__block{
                margin-top: 60px;
            }
            &-text{
                padding-left: 105px;
                width: 50%;
                h2{
                    max-width: 455px;
                    margin: 0;
                }
                div{
                    max-width: 404px;
                }
                .btn{
                    max-width: 257px;
                }
            }
            &-img{
                width: 50%;
            }
        }
    }
}

@media (min-width: 1200px) {

}