<div class="container">
    <div class="help-info">
        <h2>Полезная информация</h2>
        <div class="help-info__list">
            <div class="help-info__block">
                <div class="help-info__block-img">
                    <img src="./img/help-info-img-1.jpg" alt="">
                </div>
                <div class="help-info__block-text">
                    <div class="help-info__block-text-container">
                        <h2>Доставка продуктов по Дагестану</h2>
                        <div class="help-info__desc">
                            Мы гарантируем самые низкие цены на доставку товаров из нашего интернет магазина</div>
                        <a href="./" class="btn">
                            Условия доставки и оплаты
                        </a>
                    </div>
                </div>
            </div>
            <div class="help-info__block">
                <div class="help-info__block-img">
                    <img src="./img/help-info-img-2.jpg" alt="">
                </div>
                <div class="help-info__block-text">
                    <div class="help-info__block-text-container">
                        <h2>Доставка продуктов по Дагестану</h2>
                        <div class="help-info__desc">Мы гарантируем самые низкие цены на доставку товаров из нашего
                            интернет магазина</div>
                        <a href="./" class="btn">
                            Условия доставки и оплаты
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>