<footer class="footer">
    <div class="container">
        <div class="footer__list">
            <div class="footer__group">
                <div class="footer__group-title">
                    Страницы
                </div>
                <div class="footer__group-list">
                    <div class="footer__group-list-el">
                        Как сделать заказ
                    </div>
                    <div class="footer__group-list-el">
                        Условия доставки
                    </div>
                    <div class="footer__group-list-el">
                        Политика конфиденциальности
                    </div>
                </div>
            </div>
            <div class="footer__group">
                <div class="footer__group-title">
                    Личный кабинет
                </div>
                <div class="footer__group-list">
                    <div class="footer__group-list-el">
                        Мои заказы
                    </div>
                    <div class="footer__group-list-el">
                        Мой профиль
                    </div>
                </div>
            </div>
            <div class="footer__group">
                <div class="footer__group-title">
                    Контакты
                </div>
                <div class="footer__group-list">
                    <a class="footer__group-list-el" href="tel:91-11-07">
                        91-11-07
                    </a>
                    <div class="footer__group-list-el">
                        WApp: 8(988)29-111-07
                    </div>
                    <a class="footer__group-list-el" href="mailto:info@shop-dobro.ru">
                        info@shop-dobro.ru
                    </a>
                </div>
            </div>
            <div class="footer__logos">
                <img class="footer__market-logo" src="./img/app-stop-logo.svg" alt="">
                <img class="footer__market-logo" src="./img/google-play-logo.svg" alt="">
                <div class="footer__main-logo">
                    <img src="./img/header-logo.svg" alt="">
                </div>
            </div>
        </div>
        <div class="footer__copyright">
            © 2020 ДОБРО
        </div>
    </div>
</footer>

<!-- libs  -->
<script src="./vendors.js"></script>

<!-- main -->
<script src="./script.js"></script>
</body>

</html>