.footer {
    &__list{
        border-top: 1px solid #EEEEEE;
        padding-top: 12px;
    }
    &__group{
        padding: 8px 0;
        border-bottom: 1px solid #EEEEEE;
        &-title{
            font-weight: 300;
            font-size: 24px;
            line-height: 44px;
            color: #000000;
        }
        &-list{
            &-el{
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 18px;
                color: #000000;
                opacity: 0.5;
                cursor: pointer;
                +.footer__group-list-el{
                    margin-top: 10px;
                }
            }
            padding-bottom: 10px;
        }
    }
    &__logos{
        display: flex;
        flex-wrap: wrap;
        padding: 28px 0 10px;
        justify-content: center;
    }
    &__main-logo{
        width: 100%;
        margin-top: 10px;
        img{
            display: block;
            width: 135px;
            height: 74px;
            margin: 0 auto;
        }
    }
    &__market-logo{
        &:first-child{
            margin-right: 4px;
        }
    }
    &__copyright{
        padding: 10px 0 20px;
        border-top: 1px solid #EEEEEE;
        text-align: center;
        font-size: 16px;
        line-height: 32px;
        color: rgba(0,0,0, .5);
    }
}

@media (min-width: 576px) {

}
@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .footer {
        &__list{
            display: flex;
            justify-content: space-between;
            padding: 15px 0 30px;            
        }
        &__group{
            border-bottom: none;
            order: 2;
            padding: 0; 
            width: 20%;
        }
        &__logos{
            width: 25%;
            padding: 0;
            margin-right: 50px;
            order: 1;
            justify-content: start;
        }
        &__main-logo{   
            order: 1; 
            margin: 0 0 57px;
            img{  
                margin: 0;   
            }
        }
        &__market-logo{
            width: 105px;
            height: 31px;
            order: 2; 
            &:first-child{
            }
        }
        &__copyright{
        }
    }
}

@media (min-width: 1200px) {

}