<a href="./" class="cart-info <%cssClass%>">
    <div class="cart-info__logo">
        <img src="./img/header-cart-logo.svg" alt="">
    </div>
    <div class="cart-info__count">
        0
    </div>
    <div class="cart-info__text">
        Корзина пуста
    </div>
</a>