<div class="container">
    <div class="cart">
        <div class="cart__head">
            <div class="cart__title">
                Корзина
            </div>
            <div class="cart__price">
                <span class="cart__price_text">
                    Товаров на сумму:
                </span>
                <span class="cart__price_summ">
                    120 000 Р
                </span>
            </div>
        </div>
        <div class="cart__list">
            <div class="cart-el">
                <div class="cart-el__img">
                    <img src="./img/cart-el-1.jpg" alt="">
                </div>
                <div class="cart-el__info">
                    <div class="cart-el__name">
                        Халва АЗОВСКАЯ подсол изюм 5,6кг шт 16шт
                    </div>
                    <div class="rating-box">
                        <div class="rating-box__stars">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                        </div>
                        <a href="./" class="rating-box__count">
                            1
                        </a>
                        <a href="./" class="rating-box__icon heart">
                            <img src="./img/header-heart-logo.svg" alt="">
                        </a>
                        <a href="./" class="rating-box__icon">
                            <img src="./img/header-connection-logo.svg" alt="">
                        </a>
                    </div>
                    <div class="cart-el__price">
                        109 Р
                    </div>
                    <div class="cart-el__old-price">
                        299 Р
                    </div>
                    <div class="cart-el__del">
                        <img src="./img/cart-del-icon.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="cart-el">
                <div class="cart-el__img">
                    <img src="./img/cart-el-2.jpg" alt="">
                </div>
                <div class="cart-el__info">
                    <div class="cart-el__name">
                        Халва АЗОВСКАЯ подсол изюм 5,6кг шт 16шт
                    </div>
                    <div class="rating-box">
                        <div class="rating-box__stars">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                        </div>
                        <a href="./" class="rating-box__count">
                            1
                        </a>
                        <a href="./" class="rating-box__icon heart">
                            <img src="./img/header-heart-logo.svg" alt="">
                        </a>
                        <a href="./" class="rating-box__icon">
                            <img src="./img/header-connection-logo.svg" alt="">
                        </a>
                    </div>
                    <div class="cart-el__price">
                        109 Р
                    </div>
                    <div class="cart-el__old-price">
                        299 Р
                    </div>
                    <div class="cart-el__del">
                        <img src="./img/cart-del-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="cart__btns">
            <a href="./" class="btn">
                Перейти к оплате
            </a>
            <a href="./" class="btn btn_grey">
                Вернуться назад
            </a>
        </div>
    </div>
</div>