<div class="cart">
    <div class="cart__head">
        <div class="cart__title">
            Корзина
        </div>
        <div class="cart__price">
            <span class="cart__price_text">
                Товаров на сумму:
            </span>
            <span class="cart__price_summ">
                120 000 Р
            </span>
        </div>
    </div>
    <div class="cart__list">
        <div class="cart-el">
            <div class="cart-el__img">
                <img src="./img/cart-el-1.jpg" alt="">
            </div>
            <div class="cart-el__info">
                <div class="cart-el__left">
                    <div class="cart-el__name">
                        Халва АЗОВСКАЯ подсол изюм 5,6кг шт 16шт
                    </div>
                    <div class="rating-box">
                        <div class="rating-box__stars">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                        </div>
                        <a href="./" class="rating-box__count">
                            1
                        </a>
                    </div>
                    <div class="cart-el__price">
                        109 Р
                    </div>
                    <div class="cart-el__old-price">
                        299 Р
                    </div>
                </div>
            </div>
            <div class="cart-el__bottom">
                <div class="cart-el__controls">
                    <%- include('../cart-counter/cart-counter'); %>

                    <div class="cart-el__del">
                        <img src="./img/cart-del-icon.svg" alt="">
                    </div>
                </div>
                <div class="cart-el__service">
                    <div class="check-select">
                        <label class="custom-checkbox">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <div class="custom-checkbox__label">
                                Доп услуга 1
                            </div>
                        </label>
                        <select class="select2 check-select__select2 small-select" name="service1">
                            <option value="1">Услуга 1</option>
                            <option value="2">Услуга 2</option>
                        </select>
                    </div>
                    <div class="check-select">
                        <label class="custom-checkbox">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <div class="custom-checkbox__label">
                                Доп услуга 1
                            </div>
                        </label>
                        <select class="select2 check-select__select2 small-select" name="service1">
                            <option value="1">Услуга 1</option>
                            <option value="2">Услуга 2</option>
                        </select>
                    </div>
                    <div class="check-select">
                        <label class="custom-checkbox">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            <div class="custom-checkbox__label">
                                Доп услуга 1
                            </div>
                        </label>
                        <select class="select2 check-select__select2 small-select" name="service1">
                            <option value="1">Услуга 1</option>
                            <option value="2">Услуга 2</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-el">
            <div class="cart-el__img">
                <img src="./img/cart-el-1.jpg" alt="">
            </div>
            <div class="cart-el__info">
                <div class="cart-el__left">
                    <div class="cart-el__name">
                        Халва АЗОВСКАЯ подсол изюм 5,6кг шт 16шт
                    </div>
                    <div class="rating-box">
                        <div class="rating-box__stars">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                            <img src="./img/product-rating-star.svg" alt="">
                        </div>
                        <a href="./" class="rating-box__count">
                            1
                        </a>
                    </div>
                    <div class="cart-el__price">
                        109 Р
                    </div>
                    <div class="cart-el__old-price">
                        299 Р
                    </div>
                </div>
            </div>
            <div class="cart-el__bottom">
                <div class="cart-el__controls cart-el__controls_column">
                    <%- include('../cart-counter/cart-counter'); %>

                    <div class="cart-el__del">
                        <img src="./img/cart-del-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-coupon">
        <div class="cart-coupon-title">
            <div class="cart-coupon-title__icon">
                <img src="./img/icon-percent-green.svg" alt="">
            </div>
            <div class="cart-coupon-title__text">
                Код купона
            </div>
        </div>
        <div class="cart-coupon-input">
            <input type="text">
        </div>
        <div class="cart-coupon-discount">
            <span class="cart-coupon-discount__text">
                Скидка
            </span>
            <span class="cart-coupon-discount__num">
                1000 Р
            </span>
        </div>
    </div>
    <div class="cart-points">
        <div class="cart-points__text">
            Вы можете использовать свой партнерский бонусов
            <span class="cart-points__text_bold">
                55 баллов
            </span>
            для получения скидки на сумму
            <span class="cart-points__text_bold">
                55 руб
            </span>
        </div>
        <div class="cart-points__text_bold separately">
            55 р
        </div>
        <button class="btn btn_empty-grey">
            Использовать баллы
        </button>
    </div>
    <div class="cart-benefit">
        <div class="cart-benefit__title">
            <img src="./img/icon-thumb-green.svg" alt="">
            <span>Этот заказ добавит:</span>
        </div>
        <div class="cart-benefit__points">
            21 бонусный балл
        </div>
        <div class="cart-benefit__text">
            который вы можете использовать для получения допольнительных скидок.
        </div>
    </div>
    <div class="cart__btns">
        <a href="./" class="btn">
            Перейти к оплате
        </a>
        <a href="./" class="btn btn_grey">
            Вернуться назад
        </a>
    </div>
</div>
<style>
    .cart .cart-el {
        flex-wrap: wrap;
    }

    .cart-el__img img {
        max-width: 100%;
    }

    .cart .cart-el .cart-el__bottom {
        width: 100%;
    }

    .cart .cart-el .cart-el__controls {
        display: flex;
        justify-content: space-between;
        width: 66.66%;
        margin-left: auto;
    }

    .cart .cart-el .check-select {
        display: flex;
        max-width: 300px;
        flex-wrap: wrap;
        flex-shrink: 0;
        margin-top: 10px;
    }

    .cart .cart-el .check-select .custom-checkbox {
        margin-bottom: 13px;
    }

    .cart .cart-el .cart-el__service {
        margin-top: 10px;
        width: 100%;
    }

    @media (min-width: 768px) {
        .cart .cart-el {
            flex-wrap: nowrap;
            height: auto;
        }

        .cart .cart-el .cart-el__bottom {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
        }

        .cart .cart-el .cart-el__info {
            width: 35%;
        }

        .cart .cart-el .cart-el__img {
            width: 15%;
        }

        .cart .cart-el .cart-el__service {
            display: flex;
            flex-wrap: wrap;
            order: 1;
            width: calc(100% + 20px);
            margin: -10px -10px auto -10px;
            flex-direction: row-reverse;
        }

        .cart .cart-el .check-select {
            margin: 10px;
            width: 160px;
            max-width: 160px;
        }

        .cart .cart-el .cart-el__controls {
            width: 100%;
            margin: 0;
            order: 2;
            justify-content: flex-end;
            align-items: flex-end;
        }

        .cart .cart-el .cart-el__controls_column {
            justify-content: space-between;
            flex-direction: column;
        }

        .cart .cart-el .cart-el__del {
            margin: 0 0 0 53px;
        }
    }
</style>