.cart{
    margin-bottom: 20px;    
    &__head{
        padding-bottom: 20px;
        border-bottom: 1px solid #EEEEEE;
    }
    &__title{
        font-weight: 300;
        font-size: 44px;
        line-height: 54px;
        color: #000000;
    }
    &__price{
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;

        &_text{

        }
        &_summ{
            font-weight: bold;
            margin-left: 20px;
        }
    }
    &__list{
        margin-top: 20px;
    }
    &-el{
        display: flex;
        padding: 14px;
        border: 1px solid #EEEEEE;
        +.cart-el{
            margin-top: 20px;
        }
        &__img{
            width: 33.33%;
            img{
                display: block;
                margin: 0 auto;
            }
        }
        &__info{
            width: 66.66%;
            display: flex;
            flex-direction: column;
            padding-left: 14px;
        }
        &__name{
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
        }
        .rating-box{
            margin: 10px 0 5px;
            &__stars{
                img{
                    height: 14px;
                    width: 14px;
                    &+img{
                        margin-left: 4px;
                    }
                }
            }
            &__count{
                margin-left: 6px;
            }
            &__icon{
                display: none;
            }
        }
        &__price{
            font-weight: bold;
            font-size: 21px;
            line-height: 26px;
            color: #000000;
        }
        &__old-price{
            font-size: 15px;
            line-height: 18px;
            text-decoration-line: line-through;
            color: #000000;
            opacity: 0.5;
        }
        &__right{
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
        }
        .check-select{
            display: none;
        }
        &__del{
            height: 44px;
            width: 44px;
            background: #EEEEEE;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-left: auto;
            img{
                display: block;
            }
        }
    }
    &__btns{
        margin-top: 20px;
        .btn{
            max-width: 280px;
            margin: 0 auto;
        }
        .btn+.btn{
            margin-top: 15px;
        }
    }    
}  

.cart-coupon{
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    &-title{
        display: flex;
        &__icon{
            img{
                display: block;
            }
        }
        &__text{
            font-weight: 600;
            font-size: 16px;
            line-height: 17px;
            color: #000000;
            margin-left: 10px;
        }
    }
    &-input{
        margin: 10px 0;
        input{
            height: 44px;
            border: 1px solid #C1C1C1;
            border-radius: 4px;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.04em;
            color: #000000;
            padding: 13px 8px;
            width: 100%;
            max-width: 280px;
            min-width: 180px;
        }
    }
    &-discount{
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        &__text{
            font-weight: 600;
        }
        &__num{
            font-weight: normal;
            margin-left: 20px;
        }
    }
}
.cart-points{
    margin: 20px 0;
    &__text{
        font-size: 16px;
        line-height: 22px;
        color: #7B7B7B;
        max-width: 255px;
        &_bold{
            font-weight: 600;
            color: #000000;
            &.separately{
                display: none;
            }
        }
    }
    .btn_empty-grey{
        margin-top: 10px;
    }
}
.cart-benefit{
    padding: 20px 0;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    &__title{
        display: flex;
        align-items: center;
        img{
            display: block;
        }
        span{
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            margin-left: 10px;
        }
    }
    &__points{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        margin-top: 7px;
    }
    &__text{
        font-size: 16px;
        line-height: 22px;
        color: #7B7B7B;
        max-width: 290px;
    }
}

@media (min-width: 768px) {
    .cart{  
        &__head{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-el{
            padding: 22px;
            height: 180px;
            &__img{
                width: 115px;
                flex-shrink: 0;
                img{
                  width: 113px;
                }
            }
            &__info{
                padding-left: 20px;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                justify-content: space-between;
            }
            &__right{
                min-width: 275px;
                flex-wrap: wrap;
                width: 30%;
                justify-content: flex-start;
                align-items: flex-start;
                align-content: space-between;
                flex-direction: row-reverse;
                margin: 0 0 0 30px;
            }
            &__left{
                width: 70%;
            }
            .rating-box{
                margin-bottom: 30px;
                &__icon{
                    display: block;
                }
            }
            &__price{
                margin-top: auto;
            }  
            .check-select{
                max-width: 160px;
                flex-wrap: wrap;
                flex-shrink: 0;
                margin:  8px 0 0 24px;
                display: flex;
                .custom-checkbox{
                    margin-bottom: 13px;
                }
            }
            &__del{  
                margin-left: auto 0 0 auto;  

            }
        }
        &__btns{
            padding: 15px 0;
            margin: 0;
            border-bottom: 1px solid #EEEEEE;
            .btn{
               display: inline-flex;
            }
            .btn+.btn{
                margin: 0 0 0 15px;
            }
        }    
    } 
    .cart-coupon{
        display: flex;
        align-items: center;
        margin-top: 15px;
        padding: 15px 0;
        &-title{
            &__icon{
 
            }
            &__text{

            }
        }
        &-input{
            margin: 0 60px 0 100px;
            input{

            }
        }
        &-discount{ 
            &__text{
            }
            &__num{  
                margin-left: 32px;      
            }
        }
    } 
    .cart-points{
        display: flex;
        margin: 15px 0;
        &__text{
            max-width: 390px;
            &_bold{          
                &.separately{
                    display: block;
                    margin: 0 55px 0 63px;
                }
            }
        }
        .btn_empty-grey{
        }
    }
    .cart-benefit{
        display: flex;
        align-items: flex-start;
        padding: 15px 0;
        &__title{
      
            img{
            }
            span{
      
            }
        }
        &__points{
            margin: 0 40px;
        }
        &__text{
 
        }
    } 
}