.custom-radio{
    margin-bottom: 0;
    &__label{
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        opacity: 0.5;
    }
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
    + .custom-radio{
        margin-top: 12px;
    }      
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }    
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid rgba(0,0,0, .3);   
    }       
    input:checked ~ .checkmark {
        border: 1px solid #B2DB11;  
    }    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    input:checked ~ .custom-radio__label{     
        opacity: 1;                   
    }
    input:checked ~ .checkmark:after {
        display: block;
    }
    .checkmark:after {
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #B2DB11;
    }
    &_payment{
        padding-left: 40px;
        .custom-radio__label{
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            color: #000000;
        }   
        
        .checkmark {  
            border: 0;
            width: 24px;
            height: 24px;
        }           
        input:checked ~ .checkmark {
            background-color: #B2DB11;
        }  
        input:checked ~ .checkmark:after {
            position: absolute;
            background: url("./img/arrow-checkmark.svg");
        }
    }
}
.custom-checkbox{
    &__label{
        font-size: 14px;
        line-height: 20px;
        color: #7B7B7B;
    }
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   

    + .custom-radio{
        margin-top: 12px;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }    

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 18px;
        width: 18px;
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid rgba(0,0,0, .3);   
    }   
    
    input:checked ~ .checkmark {
        border: 1px solid #B2DB11;  
    }
    
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }
    
    input:checked ~ .checkmark:after {
        display: block;
    }
    
    .checkmark:after {
        top: calc(50% - 5px);
        left: calc(50% - 5px);
        width: 10px;
        height: 10px;
        border-radius: 4px;
        background: #B2DB11;
    }
}

.select2-container{
    .select2-selection--single{
        height: 44px;
    }   
    &--default {
        .select2-selection--single{
            border: 1px solid #C1C1C1;
            border-radius: 4px;
            .select2-selection__rendered{
                line-height: 44px;
                padding-left: 12px;
                padding-right: 38px;
                font-weight: 600;
                font-size: 14px;
                color: #000000;
            }
            .select2-selection__arrow{
                top: calc(50% - 13px);
                right: 12px;
            }
        } 
        .select2-results__option{
            font-size: 14px;
            line-height: 18px;
            color: rgba(0,0,0, .8);
            padding: 7px 10px;
            &--highlighted[aria-selected] {
                background-color: rgba(178,219,17, .4);
                color: rgba(0,0,0, .8);

            }
        }
    }
}

.input-no-arrows{
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }  
}

button {
    font-family: 'Proxima Nova', sans-serif;
    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    &:focus {
        outline: 0;
    }
}

.btn {
    padding: 0 25px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-style: normal;
    border-radius: 1px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    background: #B2DB11;
    text-decoration: none;
    width: 100%;
    max-width: 280px;
    &:hover {
        background: #A3C715;
        color: #FFFFFF;
    }
    &:active{
        color: #7B7B7B;
        background: #EEEEEE;
    }
    &_grey{
        background: #C1C1C1;
        color: #FFFFFF;
        &:hover {
            color: #FFFFFF;
            background: darken(#C1C1C1, 10%);
        }
        &:active{
            background: darken(#C1C1C1, 20%);
        }
    }
    &_empty-grey{
        background: transparent;
        border: 1px solid #C1C1C1;
        color: #7B7B7B;
        &:hover {
            background: #EEEEEE;
            color: #000000;
        }
        &:active{
            color: #7B7B7B;
        }
    }
}  