<div class="container">
    <div class="main-menu-grid">
        <%- include('../main-menu/main-menu.ejs'); %>
        <div class="main-menu-grid__right">
            <div class="main-menu-grid__top-menu">
                <a href="./" class="main-menu-grid__top-menu-el">
                    <div class="main-menu-grid__top-menu-el-count">
                        0
                    </div>
                    <div class="main-menu-grid__top-menu-el-text">
                        Избранное
                    </div>
                </a>
                <a href="./" class="main-menu-grid__top-menu-el">
                    <div class="main-menu-grid__top-menu-el-count">
                        5
                    </div>
                    <div class="main-menu-grid__top-menu-el-text">
                        Сравнение
                    </div>
                </a>
            </div>
            <div class="main-menu-grid__banner">
                <div class="main-menu-grid__text">
                    <div class="main-menu-grid__text-title">
                        Онлайн заказ
                    </div>
                    <div class="main-menu-grid__text-desc">
                        Заказывайте с помощью компьютера, планшета или телефона
                    </div>
                    <div class="main-menu-grid__text-btns">
                        <a href="./" class="btn">
                            Подробнее
                        </a>
                        <a href="./" class="app-store-logo">
                            <img src="./img/app-stor-logo-2.svg" alt="">
                        </a>
                    </div>
                </div>
                <img class="main-menu-grid__banner-phones" src="./img/main-menu-phones.png" alt="">
            </div>
        </div>
    </div>
</div>